#count
	<!-- GoStats JavaScript Based Code -->
	<script type="text/javascript" src="http://gostats.cn/js/counter.js"></script>
	<script type="text/javascript">_gos='monster.gostats.cn';_goa=441513;
	_got=7;_goi=3;_goz=0;_god='hits';_gol='淘宝计数器代';_GoStatsRun();</script>
	<noscript><a target="_blank" title="淘宝计数器代" 
	href="http://gostats.cn"><img alt="淘宝计数器代" 
	src="http://monster.gostats.cn/bin/count/a_441513/t_7/i_3/z_0/show_hits/counter.png" 
	style="border-width:0" /></a></noscript>
	<!-- End GoStats JavaScript Based Code -->
#friend-link
	%ul.side
		%li= link_to "ZARD Official","http://www.wezard.net/",:class=>"tip",:title=>"日本官网",:alt=>"日本官网"
		%li= link_to "Jap Blog","http://ameblo.jp/honmei-ani/",:class=>"tip",:title=>"一个有意思的博客",:alt=>"一个有意思的博客"
		%li= link_to "羽田裕美","http://www.verycd.com/search/star/羽田裕美(Hiromi+Haneda)",:class=>"tip",:title=>"羽田裕美on VeryCD",:alt=>"羽田裕美on VeryCD"
		%li= link_to "Kokia Web","http://www.kokia.com/",:class => "tip",:title=>"我很喜欢的音乐家",:alt=>"我很喜欢的音乐家"
		%li= link_to "Alan Official","http://alan-web.jp/index.html",:class=>"tip",:title=>"支持alan",:alt=>"支持alan"
		%li= link_to "日本音乐料理店","http://beingmusic.jp/bbs/forumdisplay.php?fid=180",:class =>"tip",:title =>"日本音乐料理店ZARD bbs",:alt=>"日本音乐料理店ZARD bbs"
		%li= link_to "Songtaste","http://www.songtaste.com/singer/5036/",:class=>"tip",:title=>"Songtaste上的艺术家",:alt=>"Songtaste上的艺术家"
		%li= link_to "ZARD虾米","http://www.xiami.com/artist/7107"
		%li= link_to "ZARD百度贴吧","http://tieba.baidu.com/f?fr=bk&kw=ZARD"
		%li= link_to "ZARD无损全专辑","http://www.verycd.com/topics/2749516/",:class=>"tip",:title=>"VeryCD上的资源",:alt=>"VeryCD上的资源"
		%li= link_to "ZARD歌词全集","http://www.uulrc.com/singer/176f65b70b947107.html"
#my-link
	%ul.side
		%li= link_to "My Blog","http://heartme.heroku.com",:class=>"tip",:title=>"我的博客",:alt=>"我的博客"
		%li= link_to "Rainbowmark","http://rainbowmark.heroku.com",:class=>"tip",:title=>"我的在线书签收藏",:alt=>"我的在线书签收藏"
#board
	本站由HeArtMe维护