#friend-link
	%ul.side
		= link_to "http://www.wezard.net/",:class=>"tip",:target => '_blank',:title=>"日本官网",:alt=>"日本官网" do
			%li ZARD Official
		= link_to "http://ameblo.jp/honmei-ani/",:class=>"tip",:target => '_blank',:title=>"一个有意思的博客",:alt=>"一个有意思的博客" do
			%li Jap Blog
		= link_to "http://www.kokia.com/",:class => "tip",:target => '_blank',:title=>"我很喜欢的音乐家",:alt=>"我很喜欢的音乐家" do
			%li Kokia Official
		= link_to "http://alan-web.jp/index.html",:class=>"tip",:target => '_blank',:title=>"支持alan",:alt=>"支持alan" do
			%li Alan Official
		= link_to "http://beingmusic.jp/bbs/forumdisplay.php?fid=180",:target => '_blank',:class =>"tip",:title =>"日本音乐料理店ZARD bbs",:alt=>"日本音乐料理店ZARD bbs" do
			%li 日本音乐料理店
		= link_to "http://www.xiami.com/artist/7107",:target => '_blank' do
			%li ZARD虾米
		= link_to "http://tieba.baidu.com/f?fr=bk&kw=ZARD",:target => '_blank' do
			%li ZARD百度贴吧
		= link_to "http://www.verycd.com/topics/2749516/",:class=>"tip",:target => '_blank',:title=>"VeryCD上的资源",:alt=>"VeryCD上的资源" do
			%li ZARD无损全专辑
#my-link
	%ul.side
		= link_to "http://heartme.heroku.com",:class=>"tip",:title=>"我的博客",:alt=>"我的博客" do
			%li My Blog
		= link_to "http://rainbowmark.heroku.com",:class=>"tip",:title=>"我的在线书签收藏",:alt=>"我的在线书签收藏" do
			%li Rainbowmark
		= link_to "http://booksoul.heroku.com",:class => "tip",:title => "书魂主站",:alt => "书魂主站" do
			%li BookSoul
		= link_to "http://anothercountry.heroku.com",:class => "tip",:title => "我最喜欢的小说",:alt => "我最喜欢的小说" do
			%li 远方有个女儿国
		= link_to "http://talk1988.heroku.com",:class => "tip",:title => "我想和这个世界谈谈",:alt => "我想和这个世界谈谈" do
			%li 1988--韩寒
#board.round
	%ul.side
		= link_to "http://booksoul.heroku.com/chat",:class => "tip",:title => "留言纷飞",:alt =>"留言纷飞" do
			%li 给我留言吧
#count
<!-- GoStats JavaScript Based Code -->
<script type="text/javascript" src="http://gostats.cn/js/counter.js"></script>
<script type="text/javascript">_gos='monster.gostats.cn';_goa=441513;
_got=7;_goi=3;_goz=0;_god='hits';_gol='qq空间流量统计';_GoStatsRun();</script>
<noscript><a target="_blank" title="qq空间流量统计" 
href="http://gostats.cn"><img alt="qq空间流量统计" 
src="http://monster.gostats.cn/bin/count/a_441513/t_7/i_3/z_0/show_hits/counter.png" 
style="border-width:0" /></a></noscript>
<!-- End GoStats JavaScript Based Code -->
#adside
<script type="text/javascript"><!--
google_ad_client = "ca-pub-9765425002757717";
/* zard1 */
google_ad_slot = "3686222745";
google_ad_width = 200;
google_ad_height = 200;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
	