.paginate.clear.round
	= will_paginate @categories
#temp
	- for category in @categories
		.category{:onclick =>"$('#category_#{category.id}').slideToggle('slow');"}
			.category-image
				= image_tag(category.image,:width=>"200",:height=>"180")
			.category-info
				%h3
				= category.title
				%p
				发行日期：
				= category.date.strftime('%Y-%m')
				- @songs = Song.where(["category_id = ?",category.id]).order("love DESC")
				%br
				= @songs.size
				首已收录
		.toggle{:id => dom_id(category)}
			%ul.song
				- for song in @songs
					%li.round{:class => cycle('c3','c4') }
						= song.title 
						= link_to "欣赏音乐",listen_url(song),:class =>"listen round"
						= link_to image_tag('/images/love.png'),love_url(song),:remote=>true,:class=>dom_id(song)
						.love{:id => dom_id(song)}
							= song.love
							fans
.paginate.clear.round
	= will_paginate @categories