#sister-info
	#left-info
		%h3 坂井泉水 
		%ul.side
			%li さかいいずみ(Izumi Sakai)
			%li ZARD的主唱 作词 作曲 监制
			%li 原名: 蒲池幸子 
			%li	生日: 1967年2月6日 
			%li 血型: A型 
			%li	星座: 水瓶 
			%li	身高: 165 CM 
			%li	出生地: 神奈川县秦野市
		%p
		虽然知道泉水姐姐的存在的时候，她已经去了遥远的地方，但她的歌声留了下来，我想为泉水姐做点什么，于是做了这个小站，希望能整理好所有尽可能多的资源，欢迎有意者提供信息
		= mail_to "kkxlkkxllb@gmail.com"
		%p
		= audio_tag("http://www.wezard.net/bgm/o/3.mp3", :autoplay => true)
	#coin-slider
		= image_tag("http://lh6.ggpht.com/_tQAlkqizbcs/SCG3ERh3jgI/AAAAAAAAASk/RNEC895euaU/1137136910.jpg")
		= image_tag("http://lh3.ggpht.com/_zqzDFhmRLSc/Rl1iN2AO2nI/AAAAAAAADRw/4kWxxN465Qo/s640/zard25.jpg")
		= image_tag("http://lh5.ggpht.com/_j6cxaUcuPkw/SXcVNM51WBI/AAAAAAAADjk/hvhntQOkC0Q/1951570.jpg")
		= image_tag("http://lh4.ggpht.com/_aLKf02xsm6Y/SchDMFTvKcI/AAAAAAAAAS8/QIizHbgcSrs/s640/1053241_070709zard06.jpg")
		= image_tag("http://lh6.ggpht.com/_X3Y7UibB-hw/TK3cgw_56cI/AAAAAAAAAZQ/6lqvD4LcMDs/s640/7.jpg")
		= image_tag("http://lh4.ggpht.com/_aLKf02xsm6Y/SchDM93wlRI/AAAAAAAAATE/cfPqyZiJpME/s640/1053241_070709zard07.jpg")
		= image_tag("http://lh3.ggpht.com/_tQAlkqizbcs/SHRb-h1MglI/AAAAAAAAAes/t0dWk7xY9KM/s640/image_1042003.jpg")
		= image_tag("http://lh6.ggpht.com/_UdLb97T5vng/Rn4SvvLx3aI/AAAAAAAAAAw/bkMtrPHv6TY/s640/zard.jpg")
	