#sister-info
	#left-info
		%h3 坂井泉水 
		%ul
			%li さかいいずみ(Izumi Sakai)
			%li ZARD的主唱 作词 作曲 监制
			%li 原名: 蒲池幸子 
			%li	生日: 1967年2月6日 
			%li 血型: A型 
			%li	星座: 水瓶 
			%li	身高: 165 CM 
			%li	出生地: 神奈川县秦野市
		%p
		<iframe src="http://www.google.com/talk/service/badge/Show?tk=z01q6amlq4ddm5uk744a9k7ueg0aueuuvs7gd38k77915olc3falpj6ceecer43q8krjjj5ak2rj7o6k5fjksvhc8rtdfh5quuvnc9m1mhpc84hsd1k5krtrigp17aqltf9ev8es99g1d9aimjpcjdr7phngbbie64an5dhem&amp;w=200&amp;h=60" frameborder="0" allowtransparency="true" width="200" height="60"></iframe>
		%br
		虽然知道泉水姐姐的存在的时候，她已经去了遥远的地方，但她的歌声留了下来，我想为泉水姐做点什么，于是做了这个小站,同时也作为我的音乐博客。
		= mail_to "kkxlkkxllb@gmail.com"
		%p
		= audio_tag("http://www.wezard.net/bgm/o/3.mp3", :autoplay => true)
	#coin-slider
		= image_tag("http://lh6.ggpht.com/_tQAlkqizbcs/SCG3ERh3jgI/AAAAAAAAASk/RNEC895euaU/1137136910.jpg")
		= image_tag("http://lh3.ggpht.com/_zqzDFhmRLSc/Rl1iN2AO2nI/AAAAAAAADRw/4kWxxN465Qo/s640/zard25.jpg")
		= image_tag("http://lh5.ggpht.com/_j6cxaUcuPkw/SXcVNM51WBI/AAAAAAAADjk/hvhntQOkC0Q/1951570.jpg")
		= image_tag("http://lh4.ggpht.com/_aLKf02xsm6Y/SchDMFTvKcI/AAAAAAAAAS8/QIizHbgcSrs/s640/1053241_070709zard06.jpg")
		= image_tag("http://lh6.ggpht.com/_X3Y7UibB-hw/TK3cgw_56cI/AAAAAAAAAZQ/6lqvD4LcMDs/s640/7.jpg")
		= image_tag("http://lh4.ggpht.com/_aLKf02xsm6Y/SchDM93wlRI/AAAAAAAAATE/cfPqyZiJpME/s640/1053241_070709zard07.jpg")
		= image_tag("http://lh3.ggpht.com/_tQAlkqizbcs/SHRb-h1MglI/AAAAAAAAAes/t0dWk7xY9KM/s640/image_1042003.jpg")
		= image_tag("http://lh6.ggpht.com/_UdLb97T5vng/Rn4SvvLx3aI/AAAAAAAAAAw/bkMtrPHv6TY/s640/zard.jpg")
#foot
	= "已有#{@songs.count}首歌曲收录"
	= link_to "立即欣赏好音乐",zard_songs_path
#applet
	#visiter
		<script type="text/javascript" src="http://jc.revolvermaps.com/r.js"></script><script type="text/javascript">rm_f1st('0','220','true','false','ddfbb4','25f8nwuzfzb','true','ff8a00');</script><noscript><applet codebase="http://rc.revolvermaps.com/j" code="core.RE" width="220" height="220" archive="g.jar"><param name="cabbase" value="g.cab" /><param name="r" value="true" /><param name="n" value="false" /><param name="i" value="25f8nwuzfzb" /><param name="m" value="0" /><param name="s" value="220" /><param name="c" value="ff8a00" /><param name="v" value="true" /><param name="b" value="ddfbb4" /><param name="rfc" value="true" /></applet></noscript>
	#ads
		<script type="text/javascript"><!--
		google_ad_client = "ca-pub-9765425002757717";
		/* zard2 */
		google_ad_slot = "1553741629";
		google_ad_width = 468;
		google_ad_height = 60;
		//-->
		</script>
		<script type="text/javascript"
		src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
		</script>