%p
	= form.label :login
	= form.text_field :login,:class => "field"
%p
	= form.label :email
	= form.text_field :email,:class => "field"
%p
	= form.label :password, form.object.new_record? ? nil : "Change password"
	= form.password_field :password,:class => "field"
%p
	= form.label :password_confirmation
	= form.password_field :password_confirmation,:class => "field"
%p
	= form.submit "Submit"