= form_for @song do |f|
	%p
	= f.label :title
	= f.text_field :title
	= f.label :url
	= f.text_field :url
	%p
	= f.label :category_id
	= f.select :category_id,Category.all.collect{|s| [s.title,s.id]}
	%p
	= f.label :lyric
	= f.text_area :lyric
	%p
	= f.submit 'Save'