.paginate.round= will_paginate @songs
%table
	%tr
		%th Id
		%th Title
		%th Category
		%th Love

	- @songs.each do |song|
		%tr{:class => cycle('c1','c2') }
			%td= song.id
			%td= song.title
			%td= Category.find(song.category_id).title
			%td= song.love
			%td= link_to 'Edit', edit_song_path(song)
			%td= link_to 'Destroy', song, :confirm => 'Are you sure?', :method => :delete
.paginate.round= will_paginate @songs